body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  height: 100%;
  overflow: hidden;
}




/*if above causes isues with scrolling*/
/*html, body {margin: 0; height: 100%; overflow: hidden}*/